h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
    color: #ffffff;
    font-family: "Aleo", sans-serif;
}

body {
    padding-top: 20px;
    background-color: #0125BD;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

.navbar {
    background-image: linear-gradient(to bottom, #0125BD 0%, #0125BD 100%);
}

.tut-vid {
    display: block;
    width: 85%;

    /* Single column view. */
    margin: 2%;

    /* The smaller the screen, the smaller the percentage actually is. */
    float: cent;
}

@media (min-width: 768px) {
    .navbar-nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .navbar-nav .nav-item {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #00ecfc;
}

.navbar-light .navbar-nav .active>.nav-link:hover {
    color: #00ecfc;
}

.navbar {
    border: 1px solid #ffffff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-family: "Aleo", sans-serif;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .masthead,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
}

.heading-back {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.title-link {
    font-family: Aleo;
    text-decoration: none;
    color: #0125BD;
}

.title-link:hover {
    text-decoration: none;
    color: #0125BD;
}

.footer-link {
    text-decoration: none;
    color: #ffffff;
}

.footer-link:hover {
    text-decoration: none;
    color: #ffffff;
}

.services-link {
    text-decoration: none;
    color: #ffffff;
}

.services-link:hover {
    color: #ffffff;
}

.navbar .navbar-nav .dropdown-menu {
    border-color: #0125BD;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    background-color: #0125BD;
}

.navbar-toggler {
    background-color: #00ecfc;
}